
//Inter
$fontmain : 'inter', Arial, sans-serif;

@font-face {
    font-family: 'inter';
    font-weight: 100;
    font-style: normal;
    src: url('/../public/fonts/Inter-Thin.woff2') format('woff2'),
         url('/../public/fonts/Inter-Thin.woff') format('woff');
}
@font-face {
    font-family: 'inter';
    font-weight: 200;
    src: url('/../public/fonts/Inter-ExtraLight.woff2') format('woff2'),
         url('/../public/fonts/Inter-ExtraLight.woff') format('woff');
}
@font-face {
    font-family: 'inter';
    font-weight: 300;
    src: url('/../public/fonts/Inter-Light.woff2') format('woff2'),
         url('/../public/fonts/Inter-Light.woff') format('woff');
}
@font-face {
    font-family: 'inter';
    font-weight: 400;
    src: url('/../public/fonts/Inter-Regular.woff2') format('woff2'),
         url('/../public/fonts/Inter-Regular.woff') format('woff');
}
@font-face {
    font-family: 'inter';
    font-weight: 500;
    src: url('/../public/fonts/Inter-Medium.woff2') format('woff2'),
         url('/../public/fonts/Inter-Medium.woff') format('woff');
}
@font-face {
    font-family: 'inter';
    font-weight: 600;
    src: url('/../public/fonts/Inter-SemiBold.woff2') format('woff2'),
         url('/../public/fonts/Inter-SemiBold.woff') format('woff');
}
@font-face {
    font-family: 'inter';
    font-weight: 700;
    src: url('/../public/fonts/Inter-Bold.woff2') format('woff2'),
         url('/../public/fonts/Inter-Bold.woff') format('woff');
}
@font-face {
    font-family: 'inter';
    font-weight: 800;
    src: url('/../public/fonts/Inter-ExtraBold.woff2') format('woff2'),
         url('/../public/fonts/Inter-ExtraBold.woff') format('woff');
}
@font-face {
    font-family: 'inter';
    font-weight: 900;
    src: url('/../public/fonts/Inter-Black.woff2') format('woff2'),
         url('/../public/fonts/Inter-Black.woff') format('woff');
}