
//fonts
$fontmain : 'inter', Helvetica, Arial, sans-serif;

//colors
$black : #1E2428;
$blue : #80A3FF;
$lblue : #C6E3FF;
$red : #DF493F;
$lred : #CE7171;
$dbred : #B76767;
$green : #71CE7B;
$dbgreen : #67B76F;
$bgray : #A6A6A6;
$white : #ffffff;
$dgray : #2E3B44;